
{% form_theme form 'ActivDevNoclineBundle:Form:fields.html.twig' %}

<form novalidate="novalidate" action="{{ path('activdev_nocline_default_exec') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>