{% block textmultiple_widget %}
{% spaceless %}

<div style="clear: both"></div>
<span class="nocline-span-add"><span>+</span></span>
{{ form_widget(form) }}

{% endspaceless %}
{% endblock %}

{% extends 'form_div_layout.html.twig' %}

{% block field_label %}
    {{ parent() }}

    {% if required %}
        <span class="required" title="This field is required"> * </span>
    {% endif %}
{% endblock %}